:root,
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    --colour-foreground: #323232;
    --colour-background-alt: #cccaca;
    --colour-background: #ffffff;
    --colour-accent: #4f94af;
    /* background: var(--colour-background); */
    color: var(--colour-foreground);
    font-family: 'Raleway';
    transition-property: background-color color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

body {
    background: var(--colour-background);
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}

:root {
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--colour-accent);
}

@font-face {
    font-family: 'Raleway';
    src: url('../res/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../res/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: Remix;
    src: url('../res/remixicon.ttf');
}

@media screen and (prefers-color-scheme: dark) {
    :root, * {
        --colour-foreground: #bebebe;
        --colour-background: #222121;
        --colour-background-alt: #020202;
        --colour-accent: #2b578a;
    }
}

@media screen and (max-width: 820px) {
    .slideshow-container {
        --slide-width: 100%;
    }

    :root, body {
        overflow-x: hidden;
    }

    nav.position-sticky-top.margin-top-huge-2 {
        position: relative;
        display: block;
        margin-top: 0;
    }

    * {
        font-size: small;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
        font-size: small;
    }
}

.header-button {
    display: block;
    text-align: center;
    line-height: var(--dim-large);
    font-size: var(--dim-small-1);
    font-weight: 900;
    width: 100%;
    letter-spacing: 1.5px;
    color: var(--colour-foreground);
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-button:hover {
    background: var(--colour-accent);
}

nav {
    width: 100vw;
    z-index: 2;
}

#view-container {
    z-index: 1;
    /* background: linear-gradient(var(--colour-background-alt), var(--colour-background)); */
}

.profile-section-container {
    min-height: 100vh;
    padding-top: calc(var(--dim-large) * 2);
}

.profile-section-container>h1:first-child {
    top: var(--dim-large);
    font-size: var(--dim-medium);
    text-align: center;
    padding: var(--dim-small-1);
    z-index: 3;
}

footer {
    z-index: 4;
}

h1 {
    font-size: 24pt;
}

#profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.slideshow-container {
    --slide-width: min(820px, calc(100vw - var(--dim-small-1)));
}

section.slideshow-slide-list {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: var(--slide-width);
    min-width: var(--slide-width);
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: 0 0 var(--dim-medium) 4px var(--colour-background-alt);
}

.slideshow-slide-list .slide {
    display: block;
    box-sizing: border-box;
    min-width: var(--slide-width);
    min-height: calc(var(--slide-width) * (9/16));
    max-width: var(--slide-width);
    max-height: calc(var(--slide-width) * (9/16));
    padding: var(--dim-small-2);
}

.slideshow-controls {
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    max-width: var(--slide-width);
    min-width: var(--slide-width);
    top: calc(var(--slide-width) * (9/16) + var(--dim-large) / 2);
}

.slideshow-controls button {
    background: var(--colour-accent);
    color: var(--colour-foreground);
    border: none;
    margin: 0 var(--dim-medium);
    border-radius: var(--dim-small-2);
    cursor: pointer;
}

.slideshow-controls button:hover {
    filter: brightness(0.8);
}